<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/homeStyles.css" />
    <title>FestiShare</title>
  </head>
  <body>
    <div class="outer-menu">
      <input type="checkbox" class="toggle" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
               <li> <a href="/festivals">Festivals</a> </li>
                <% if(!currentUser) { %>
                <li> <a href="/login">Login</a> </li>
                <li><a href="/register">Register</a> </li>
                <% } else { %>
                <li><a href="/logout">Logout</a> </li>
                <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="show">
      <div class="container show-inner">
        <h1>FestiShare</h1>
        <p>
          <strong>Welcome to FestiShare! <br>
          A place to share your festival experience(s)</strong>
        </p>
        <a href="/festivals" class="btn">Go To Festivals</a>
      </div>
    </header>
  </body>
</html>
