<% layout('layouts/boilerplate') %> 
    <h1>Festivals</h1>

    
    <ul>
        <% festivals.forEach(fest => { %>
            <li>
                <a href="/festivals/<%= fest._id  %>"><%= fest.title  %></a> 
            </li>
      <%  }) %> 
    </ul>

