<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center">
    <div class="row col-md-6">
<h1 class="text-light text-center">Register</h1>
    <form action="/register" method="POST" class="needs-validation bg-dark text-light" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label bg-dark text-light">Username</label>
            <input type="text" class="form-control bg-dark text-light" id="" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label bg-dark text-light">Email</label>
            <input type="email" class="form-control bg-dark text-light" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label bg-dark text-light">Password</label>
            <input type="password" class="form-control bg-dark text-light" id="password" name="password" required>
            <button class="btn btn-success mt-2">Submit</button>
        </div>
     </form>
    </div>
</div>